<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.todo.presentation.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.todo.presentation.service.BasicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.todo.presentation.broadcast.GlobalBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.todo.common.GLOBAL_TODO_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
